@import url('https://fonts.googleapis.com/css?family=Montserrat|Quicksand&display=swap');

* {
    box-sizing: border-box;
}

.font-montserrat {
    font-family: 'Montserrat', sans-serif;
}

.font-quicksand {
    font-family: 'Quicksand', sans-serif;
}

.flex-vertical-center {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

body {
    margin: 0;
}

.menu {
    width: 1160px;
    height: 40px;
    margin: 15px 140px 15px 140px;
}

ul {
    list-style: none; 
    margin: 0;
    padding: 0;
}

.left-menu > li {
    display: inline-block;
    margin-right: 30px;
    position: relative;
  }

a {
    display: block;
    text-decoration: none;
    color: rgba(31, 32, 65, 0.5);
    font-size: 14px;
}

a.home {
    font-weight: bold;
    color: rgba(31, 32, 65, 0.75);
}

.submenu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    border: 1px solid rgba(31, 32, 65, 0.5);
    z-index: 10;
    transition: 0.5s ease-in-out;
}

.submenu > li:not(:last-child) {
    border-bottom: 1px solid rgba(31, 32, 65, 0.5);
}

.left-menu li:hover .submenu {
    display: block;
}

input{
    border: 2px solid;
    border-color: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    border-radius: 22px;
    margin-right: 20px;
    width: 79px;
    height: 34px;
    color:  #BC9CFF;
    font-weight: bold;
    font-size: 12px;
}

.register {
    color: #FFFFFF;
    border: 2px solid #BC9CFF;
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
}

.r {
    overflow: hidden;
    width: 100%;
}
