@import 'base';

.logo-menu {
    height: 40px;
    margin: 15px 140px;
}

.menu {
    @extend .font-montserrat;
    list-style: none; 
    margin: 0;
    padding: 0;

    li {
        display: inline-block;
        margin-right: 30px;
        position: relative;
      }

      a {
        display: block;
        text-decoration: none;
        color: rgba(31, 32, 65, 0.5);
        font-size: 14px;

        .home {
            font-weight: bold;
            color: rgba(31, 32, 65, 0.75);
        }
    }
}

.submenu {
    display: none;
    position: absolute;
    padding: 0;
    top: 100%;
    left: 0;
    width: 100%;
    border: 1px solid rgba(31, 32, 65, 0.25);
    z-index: 10;
    transition: 0.5s ease-in-out;
    background: white;

    li { 
        margin: 0;
        width: 100%;
        height: 30px;

        a {
            padding: 5px;
        }
    }
}

.submenu > li:not(:last-child) {
    border-bottom: 1px solid rgba(31, 32, 65, 0.25);
}

li:hover .submenu {
    display: block;
}

a{
    text-decoration: none;
    margin-right: 20px;

    .login {
        padding: 9px 20px 10px 20px;
        border: 2px solid #BC9CFF;
        border-radius: 22px;
        height: 35px;
        color:  #BC9CFF;
        font-weight: bold;
        font-size: 12px;
        text-align: center;
    }

    .register {
        padding: 10px 20px 10px 20px;
        height: 34px;
        color: #FFFFFF;
        font-weight: bold;
        font-size: 12px;
        border-radius: 22px;
        background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    }

    &:last-child {
        margin-right: 0;
    }
}

.search-form {
    @extend .font-montserrat;
    position: relative;
    flex-direction: column; 

    .form {
        width: 380px;
        height: 380px;
        padding: 40px 30px;
        position: absolute;
        top: 70px;
        left: 140px;
        border: 1px solid rgba(0, 0, 0, 0.12);
        box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
        border-radius: 4px;
        background-color: white;
    
        h1 {
            @extend .font-quicksand;
            font-weight: bold;
            font-size: 24px;
            line-height: 30px;
            margin-top: 0;
        }
    
        .field-label {
            font-weight: bold;
            font-size: 12px;
            text-transform: uppercase;
        }
    
        
        .date {
            width: 150px;
            height: 44px;
            margin-top: 5px;
            margin-bottom: 20px;
             border: 1px solid rgba(31, 32, 65, 0.25);
            border-radius: 4px;
            font-size: 14px;
            text-align: center;
            color: rgba(31, 32, 65, 0.75);
             outline: none;
         }   
    }

    select {
        width: 320px;
        height: 44px;
        margin-top: 5px;
        border: 1px solid rgba(31, 32, 65, 0.25);
        border-radius: 4px;
        outline: none;
    }

    .submit {
        margin-top: 30px;
    }
    
    .text {
        position: absolute;
        right: 140px;
        bottom: 30px;
        width: 260px;
        height: 48px;
        color: rgba(31, 32, 65, 0.75);
        font-size: 14px;
        line-height: 24px;
        text-align: right;
    }
}

.footer {
    @extend .font-montserrat;
    height: 372px; 
    padding: 100px 140px;
    font-size: 14px;
    line-height: 24px;
    color: rgba(31, 32, 65, 0.75);
    justify-content: space-between;

    .logo-footer,
    .subs {
        width: 260px;
    }   
}

.navigation {

    span {
        font-weight: bold;
        color: #1F2041;
    }

    a {
        text-decoration: none;
        color: rgba(31, 32, 65, 0.5);
        margin-top: 20px;
    }

    .email{
        position: relative;

        input {
            height: 44px;
            width: 260px;
            padding-left: 15px;
            border: 1px solid rgba(31, 32, 65, 0.25);
            border-radius: 4px;
            outline: none;
        }
        
        button {
            position: absolute;
            left: 216px;
            top: 1px;
            width: 42px;
            height: 42px;
            padding: 0;
            border: none;
            background-color: white;
            cursor: pointer;
        }
    }
}

.footer-bottom {
    @extend .font-montserrat;
    height: 70px;
    border-top: 1px solid rgba(31, 32, 65, 0.25);
    font-size: 14px;
    color: rgba(31, 32, 65, 0.75);
    padding: 26px 140px;
    justify-content: space-between;

    a {
        margin-left: 20px;
    }
}